@import "tailwindcss";

/* *{
    border: solid 1px #f00 !important;
} */

.border.hover:hover{
    border-bottom: 2px solid red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}



@layer utilities {
  .animate-glow {
    animation: glow 1.5s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px #050504;
    }
    to {
      text-shadow: 0 0 20px #ffffff;
    }
  }
}
