@import "tailwindcss";

/* *{
    border: solid 1px #f00 !important;
} */

.border.hover:hover{
    border-bottom: 2px solid red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}